@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-tm7eyg');
	src:url('../fonts/icomoon.eot?#iefix-tm7eyg') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-tm7eyg') format('woff'),
		url('../fonts/icomoon.ttf?-tm7eyg') format('truetype'),
		url('../fonts/icomoon.svg?-tm7eyg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e602";
}
.icon-pinterest:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e604";
	font-size 2em
	color white
}
.icon-heart:before {
	color red
	font-size 3em
	content: "\e605";
}
.icon-books:before {
	content: "\e606";
}
.icon-notebook:before {

	content: "\e607";
}
.icon-calendar:before {
	content: "\e608";
	font-size 3em
	color pinterest
}
.icon-calendar2:before {
	content: "\e609";
	font-size 3em
	color pinterest
}
.icon-mobile:before {
	content: "\e60a";
	font-size 3em
	color black
}
.icon-note:before {
	content: "\e60b";
	font-size 3em
	color #CCC
}
.icon-calendar3:before {
	content: "\e60c";
}


/*
Twitter: #41b7d8
Facebook: #3b5997
Google: #d64937
LinkedIn: #0073b2
Vimeo: #388fc5
Flickr: #ff0084
Pinterest: #cb2027
Skype: #00aff0
RSS: #e0812a
*/

skype = #00aff0
pinterest = #cb2027
gris_oscuro = #444
naranja = #DD4F24
azul = #22BCE0
gris_texto = #7A7A7A
color_twitter = #41b7d8
color_dorado = rgb(247,192,42)
color_dorado_hover = rgb(247,204,51)

body
	font-size 16px

footer
	background #00aff0
	width 100%
	font-size 1em
	min-height 150px 

footer p
	color white
	font-size 0.8em
	text-align center

.btn-query
	background color_dorado
	border-color color_dorado
	transition all 0.3s linear

.btn-query:hover
	background color_dorado_hover
	border-color color_dorado_hover

.icon-large
	font-size 3em
	color white 

.item_resultado
	margin 0em 0.5em

.input-query
	heigth 44px

.items
	font-size 1.6em
	
.items a
	color gris_texto
	text-decoration none

.items p
	font-size 1.2em

.search 
	margin 1em 0em

.resultado 
	box-shadow 1px 1px 1px #CCC

.public
	margin 3em 0em

.public-result
	margin 1em 0em

/*
.skype
	background #00aff0
	border-color #00aff0
	color white
*/

.titulo
	font-size 3em
	margin 1em 0em
	text-align center

.titulo_resultado
	margin 0em 0em 1em 0em
	text-align center

.verso
	font-size 0.8em 
	color gris_texto
	margin 3em 0em

#form_busqueda
	display block
	margin 1em 0em
	overflow hidden

#form_busqueda select
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;

#form_busqueda .btn-query
	font-size 1.2em
	height: 46px;
	width 100%

.bs-callout-info
	background-color #f4f8fa
	border-color #5bc0de

.bs-callout
	overflow hidden
	padding 0.5em
	margin 1em 0em
	border-left 3px solid skype

.thumbnail
	display block
	padding 14px
	margin-bottom 19px
	line-height 1.42857143
	background-color #fff
	border 1px solid #ddd
	border-radius 4px
	-webkit-transition all .2s ease-in-out
	transition all .2s ease-in-out
	box-shadow 1px 1px 1px #CCC
	overflow hidden

.fb-comentarios
	border 1px dashed #CCC
	min-height 180px

/* DESDE 0 a 992px */
@media screen and (max-width:992px)
	
	#form_busqueda select
			margin 1em 0em
			height: 46px;
			padding: 10px 16px;
			font-size: 18px;
			line-height: 1.33;
			border-radius: 6px;

	.btn-query
		font-size 1.7em
		width 100%
	
	.input-query
		display inline-block	

	.social
		text-align center
		margin 1em 0em

	.titulo
		font-size 2em
		margin 1em 0em
	
	.items
		font-size 1em
		margin 1em 0em
		overflow hidden

	.items p
		font-size 0.8em

	footer
		background #00aff0
		font-size 1em
		width 100%
		overflow hidden

@media screen and (min-width:993px)
	
	.contenido_busqueda
		margin 5% 0

	#form_busqueda select
			display inline-block
			height: 46px;
			padding: 10px 16px;
			font-size: 18px;
			line-height: 1.33;
			border-radius: 6px;

	.btn-query
		display inline-block
		font-size 1.7em
		width 100%

	.social
		text-align center
		margin 1em 0em
	
	

	footer
		font-size 1em
		background #00aff0
		overflow hidden
		width 100%