@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot?-tm7eyg");src:url("../fonts/icomoon.eot?#iefix-tm7eyg") format('embedded-opentype'),url("../fonts/icomoon.woff?-tm7eyg") format('woff'),url("../fonts/icomoon.ttf?-tm7eyg") format('truetype'),url("../fonts/icomoon.svg?-tm7eyg#icomoon") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-facebook:before{content:"\e600"}
.icon-twitter:before{content:"\e601"}
.icon-instagram:before{content:"\e602"}
.icon-pinterest:before{content:"\e603"}
.icon-search:before{content:"\e604";font-size:2em;color:#fff}
.icon-heart:before{color:#f00;font-size:3em;content:"\e605"}
.icon-books:before{content:"\e606"}
.icon-notebook:before{content:"\e607"}
.icon-calendar:before{content:"\e608";font-size:3em;color:pinterest}
.icon-calendar2:before{content:"\e609";font-size:3em;color:pinterest}
.icon-mobile:before{content:"\e60a";font-size:3em;color:#000}
.icon-note:before{content:"\e60b";font-size:3em;color:#ccc}
.icon-calendar3:before{content:"\e60c"}
body{font-size:16px}
footer{background:#00aff0;width:100%;font-size:1em;min-height:150px}
footer p{color:#fff;font-size:.8em;text-align:center}
.btn-query{background:#f7c02a;border-color:#f7c02a;transition:all .3s linear}
.btn-query:hover{background:#f7cc33;border-color:#f7cc33}
.icon-large{font-size:3em;color:#fff}
.item_resultado{margin:0 .5em}
.input-query{heigth:44px}
.items{font-size:1.6em}
.items a{color:#7a7a7a;text-decoration:none}
.items p{font-size:1.2em}
.search{margin:1em 0}
.resultado{box-shadow:1px 1px 1px #ccc}
.public{margin:3em 0}
.public-result{margin:1em 0}
.titulo{font-size:3em;margin:1em 0;text-align:center}
.titulo_resultado{margin:0 0 1em 0;text-align:center}
.verso{font-size:.8em;color:#7a7a7a;margin:3em 0}
#form_busqueda{display:block;margin:1em 0;overflow:hidden}
#form_busqueda select{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}
#form_busqueda .btn-query{font-size:1.2em;height:46px;width:100%}
.bs-callout-info{background-color:#f4f8fa;border-color:#5bc0de}
.bs-callout{overflow:hidden;padding:.5em;margin:1em 0;border-left:3px solid #00aff0}
.thumbnail{display:block;padding:14px;margin-bottom:19px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;box-shadow:1px 1px 1px #ccc;overflow:hidden}
.fb-comentarios{border:1px dashed #ccc;min-height:180px}
@media screen and (max-width:992px){#form_busqueda select{margin:1em 0;height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}
.btn-query{font-size:1.7em;width:100%}
.input-query{display:inline-block}
.social{text-align:center;margin:1em 0}
.titulo{font-size:2em;margin:1em 0}
.items{font-size:1em;margin:1em 0;overflow:hidden}
.items p{font-size:.8em}
footer{background:#00aff0;font-size:1em;width:100%;overflow:hidden}
}@media screen and (min-width:993px){.contenido_busqueda{margin:5% 0}
#form_busqueda select{display:inline-block;height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}
.btn-query{display:inline-block;font-size:1.7em;width:100%}
.social{text-align:center;margin:1em 0}
footer{font-size:1em;background:#00aff0;overflow:hidden;width:100%}
}